---
import { getNetworks } from '../../services/networks';
import { Icon } from 'astro-icon';

const networks = await getNetworks();
---

<div class="flex gap-8">
  {
    networks.facebook && (
      <a
        href={networks.facebook}
        aria-label="Facebook"
        target="_blank"
        rel="noopener"
      >
        <Icon
          name="mdi:facebook"
          class="w-[24px] text-slate-50"
        />
      </a>
    )
  }
  {
    networks.instagram && (
      <a
        href={networks.instagram}
        aria-label="Instagram"
        target="_blank"
        rel="noopener"
      >
        <Icon
          name="mdi:instagram"
          class="w-[24px] text-slate-50"
        />
      </a>
    )
  }
  {
    networks.twitter && (
      <a
        href={networks.twitter}
        aria-label="Twitter"
        target="_blank"
        rel="noopener"
      >
        <Icon
          name="mdi:twitter"
          class="w-[24px] text-slate-50"
        />
      </a>
    )
  }
  {
    networks.whatsapp && (
      <a
        href={networks.whatsapp}
        aria-label="Whatsapp"
        target="_blank"
        rel="noopener"
      >
        <Icon
          name="mdi:whatsapp"
          class="w-[24px] text-slate-50"
        />
      </a>
    )
  }
</div>

<style lang="css">
  /* [astro-icon] {
    color: blue;
    or
    fill: blue;
  } */
  [astro-icon='annotation'] {
    /* color: red; */
    /* OR */
    fill: red;
    width: 20px;
  }
</style>
