<nav
  class="flex justify-between items-center gap-4 py-2 px-4 lg:px-12 bg-transparent w-full max-w-[1440px] mx-auto"
>
  <!-- Menu mobile -->
  <input
    type="checkbox"
    id="menu-mobile"
    class="cursor-pointer hidden absolute left-0 peer"
  />
  <label
    for="menu-mobile"
    class="cursor-pointer block lg:hidden fixed z-50 right-4 text-cyan-950 peer-checked:text-slate-50"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="currentColor"
      ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg
    >
  </label>

  <!-- Fin menu mobile -->
  <div class="flex items-center gap-4">
    <svg
      class="w-10 h-10 text-primary"
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512.000000 512.000000"
      preserveAspectRatio="xMidYMid meet"
    >
      <g
        transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
        fill="currentColor"
        stroke="none"
      >
        <path
          d="M2467 5016 c-82 -31 -157 -100 -188 -176 -23 -56 -18 -205 8 -255 28
  -53 102 -121 159 -145 69 -30 170 -27 235 6 138 70 201 185 178 327 -6 33 -17
  73 -25 89 -26 50 -86 108 -138 135 -62 32 -171 41 -229 19z m139 -214 c20 -14
  44 -57 44 -78 0 -13 -12 -37 -26 -54 -23 -27 -32 -31 -67 -28 -34 2 -45 9 -64
  37 -30 45 -29 62 6 100 29 31 80 42 107 23z"
        ></path>
        <path
          d="M1835 4701 c-273 -99 -545 -250 -734 -408 -91 -76 -279 -263 -340
  -338 -268 -328 -454 -743 -523 -1170 -18 -111 -17 -581 1 -700 104 -692 501
  -1292 1096 -1658 297 -183 588 -283 944 -327 339 -42 694 -7 1031 102 372 120
  753 375 1012 676 305 354 471 701 558 1167 15 83 30 273 30 392 0 119 -16 342
  -30 408 -5 22 -15 76 -24 120 -22 106 -76 274 -133 409 -125 297 -275 518
  -513 756 -253 254 -459 389 -815 535 -112 46 -152 58 -198 59 -55 1 -61 -1
  -89 -33 -27 -30 -30 -39 -25 -80 6 -55 44 -94 108 -111 23 -6 88 -31 146 -56
  620 -265 1088 -789 1262 -1414 34 -122 60 -262 63 -340 l3 -55 -50 -8 c-92
  -15 -219 -50 -274 -75 -120 -54 -251 -157 -333 -262 -69 -87 -141 -250 -163
  -370 -31 -163 -82 -335 -127 -424 -141 -280 -412 -485 -694 -526 -78 -11 -194
  -13 -194 -4 0 4 46 55 103 113 187 194 294 395 343 646 16 85 18 295 3 402
  -12 90 -75 287 -121 377 -24 47 -172 277 -221 341 -55 74 -121 192 -158 285
  -78 197 -100 350 -96 665 2 190 -3 213 -61 251 -25 17 -42 21 -70 17 -51 -8
  -70 -19 -92 -56 -18 -29 -20 -52 -20 -274 0 -326 -10 -394 -88 -588 -45 -113
  -118 -241 -238 -416 -209 -305 -277 -502 -277 -804 0 -263 54 -441 199 -661
  60 -90 173 -217 228 -255 64 -43 49 -53 -66 -45 -361 25 -697 275 -826 615
  -16 42 -41 130 -56 196 -45 198 -73 290 -115 374 -53 108 -79 144 -166 231
  -86 87 -199 160 -306 196 -88 30 -92 31 -193 47 l-78 11 6 71 c19 215 132 556
  259 786 181 327 497 649 805 820 104 58 294 144 392 179 36 13 78 35 93 50 52
  50 45 145 -14 175 -40 21 -74 18 -164 -14z m761 -1743 c52 -104 127 -228 209
  -343 143 -201 188 -295 226 -469 28 -124 30 -313 4 -416 -44 -178 -127 -327
  -262 -469 -50 -54 -118 -116 -152 -139 l-60 -41 -63 47 c-194 144 -327 333
  -396 562 -23 75 -26 103 -27 235 0 128 3 162 24 235 47 171 112 300 237 471
  76 105 149 230 189 327 17 40 31 72 32 72 2 0 19 -33 39 -72z m-2034 -583 c37
  -8 88 -24 114 -35 60 -26 171 -100 205 -137 91 -99 152 -239 190 -435 58 -305
  168 -518 366 -709 184 -177 384 -277 659 -328 98 -18 209 -13 344 15 69 14
  139 23 155 20 17 -2 80 -14 140 -25 119 -22 212 -26 278 -12 23 5 73 14 111
  21 100 16 196 52 308 116 260 147 453 371 551 639 27 73 70 240 81 310 20 138
  102 309 190 399 73 74 200 140 304 159 115 22 107 29 106 -98 -3 -511 -313
  -1116 -759 -1481 -33 -27 -62 -51 -65 -54 -3 -3 -45 -33 -95 -66 -327 -221
  -615 -322 -1020 -358 -200 -17 -415 -2 -620 45 -358 82 -676 248 -973 508 -60
  53 -186 188 -225 241 -128 178 -172 248 -237 380 -82 166 -134 313 -171 488
  -33 150 -37 188 -38 310 -1 104 1 113 17 108 9 -3 47 -12 84 -21z"
        ></path>
      </g>
    </svg>

    <h1 class="text-slate-950 text-xl font-semibold text-center w-fit mx-auto">
      Hatha Yoga
      <span class="text-primary">Lobería</span>
    </h1>
  </div>

  <div
    class="fixed top-0 bottom-0 lg:relative lg:top-auto w-full lg:w-fit -left-full lg:left-auto peer-checked:left-0 transition-all duration-500 z-40"
  >
    <div
      class="text-white lg:text-cyan-950 h-full lg:h-auto flex flex-col lg:flex-row items-center justify-center gap-8 backdrop-blur bg-black/40 lg:bg-transparent text-lg"
    >
      <a
        href="/hathayogaloberia"
        class={`${
          Astro.url.pathname.replaceAll('/', '') === 'hathayogaloberia'
            ? 'text-secondary'
            : ''
        } menu__item anim__bottom to__center`}
        >Home</a
      >
      <a
        class={`${
          Astro.url.pathname.replaceAll('/', '') ===
          'hathayogaloberiaacerca-de-mi'
            ? 'text-secondary'
            : ''
        } menu__item anim__bottom to__center`}
        href="/hathayogaloberia/acerca-de-mi"
        >Acerca de mi</a
      >
      <a
        class={`${
          Astro.url.pathname.replaceAll('/', '') === 'hathayogaloberiaclases'
            ? 'text-secondary'
            : ''
        } menu__item anim__bottom to__center`}
        href="/hathayogaloberia/clases"
        >Clases</a
      >
      <a
        class={`${
          Astro.url.pathname.replaceAll('/', '') === 'hathayogaloberiaposts'
            ? 'text-secondary'
            : ''
        } menu__item anim__bottom to__center`}
        href="/hathayogaloberia/posts"
        >Blog</a
      >
      <a
        class={`${
          Astro.url.pathname.replaceAll('/', '') === 'hathayogaloberiacontacto'
            ? 'text-secondary'
            : ''
        } menu__item anim__bottom to__center`}
        href="/hathayogaloberia/contacto"
        >Contacto</a
      >
    </div>
  </div>
</nav>

<style>
  /**********************/
  /***   ANIMATIONS   ***/
  /**********************/
  .menu__item {
    position: relative;
    display: block;
    /* padding: 4px 8px; */
  }
  .anim__bottom::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -1px;
    width: 0%;
    text-align: center;
    background: var(--secondary-color);
    height: 1px;
    transition:
      width 0.5s ease,
      left 0.5s ease,
      right 0.5s ease;
  }
  .anim__bottom:hover::after {
    width: 100%;
  }
  .to__center::after {
    left: 50%;
  }
  .to__center:hover::after {
    left: 0%;
  }
</style>
