---
import heroImg from '@assets/images/hero/hero-img.webp';
import backFloat from '@assets/images/hero/home3.png';
import backFloat2 from '@assets/images/hero/back-float-2.webp';
---

<div class="wave">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1024 600"
  >
    <path
      fill="white"
      d="M 0 600 Q 0 300 0 150 Q 250 0 350 150 Q 550 550 900 550 L 1024 550 L 1024 600 Z"
    ></path>
  </svg>
</div>
<div class="hero md:py-10">
  <div class="relative flex gap-4 md:px-20 h-full justify-center">
    <div class="absolute hidden lg:block -top-28 right-10 h-[400px]">
      <img
        width="480"
        height="auto"
        src={backFloat.src}
        alt=""
      />
    </div>
    <div
      class="absolute hidden sm:block top-0 right-[5%] lg:right-[30%] h-[400px]"
    >
      <img
        width="100"
        height="100"
        src={backFloat2.src}
        alt=""
      />
    </div>
    <div class="w-11/12 lg:w-2/3 flex flex-col justify-center items-center">
      <p class="text-4xl lg:text-5xl font-bold text-cyan-950 font-dancing">
        Hatha Yoga Lobería
      </p>
      <p class="text-xl text-cyan-900 pt-4">Calma en el alma...</p>
      <img
        class="mx-auto pt-8"
        width="150"
        height="110"
        src={heroImg.src}
        alt="Hero Image"
      />
      <div class="contact pt-8 text-center text-xl">
        <p>
          Sumérgete en una experiencia única de bienestar y <br
            class="hidden lg:block"
          /> forma parte de nuestra Comunidad
        </p>
        <div class="mt-10 md:mt-20 flex justify-center w-full h-full text-base">
          <a
            href="#subscriber-form"
            class="p-2 rounded bg-primary w-32 h-10 text-white text-center"
            >Únete</a
          >
          <a
            href="/hathayogaloberia/contacto#contact-form"
            class="ml-10 p-2 rounded bg-primary w-32 h-10 text-white text-center"
            >Contáctanos</a
          >
        </div>
      </div>
    </div>
    <div class="hidden lg:block w-1/3 mt-10"></div>
  </div>
</div>

<style>
  .wave {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -99;
  }
  .hero {
    height: calc(100vh - 70px);
  }
  @media (min-width: 1536px) {
    .hero {
      height: 800px;
    }
  }
  .contact {
    animation: 2s title-text ease-in-out;
  }
  @keyframes title-text {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
