<figure
  class="relative h-[250px] bg-[url('/hathayogaloberia/images/paralax-postura-opt.webp')] bg-cover bg-center bg-no-repeat bg-fixed"
>
  <div class="absolute h-full w-full top-0 bg-black opacity-40"></div>

  <div class="absolute separador__container container text-white font-primary">
    <blockquote
      class="h-full w-full p-10 flex items-center justify-center text-2xl md:text-4xl"
    >
      <p class="font-dancing">
        No importa lo profundo que llegues en una postura, lo que importa es
        quién eres cuando llegas allí.
      </p>
    </blockquote>
    <figcaption class="pl-10 text-left font-raleway">
      &mdash; Max Strom
    </figcaption>
  </div>
</figure>
