---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Hatha Yoga Lobería | Sobre mi"
  slug="acerca-de-mi"
>
  <header class="relative overflow-hidden px-4 lg:px-20 mx-auto">
    <h1 class="text-4xl text-center text-primary leading-8 font-semibold mt-8">
      El equilibrio está en tu interior
    </h1>

    <p class="pt-24 leading-8">
      Hatha Yoga Lobería es un espacio para comenzar, desarrollar y/o fortalecer
      la práctica del yoga.
    </p>

    <p class="pt-8 leading-8">
      Soy Lucia Ermiaga, una apasionada profesora de yoga dedicada a guiar a las
      personas en su viaje hacia la salud, la armonía y la paz interior. Mi amor
      por el yoga comenzó hace más de años cuando descubrí la profunda conexión
      entre mente, cuerpo y espíritu a través de esta antigua práctica.
    </p>
    <p class="pt-8 leading-8">
      Mi enfoque se centra en Hatha Yoga, que combina la fluidez de los
      movimientos con la atención plena y la respiración consciente. Creo
      firmemente en que el yoga es una herramienta poderosa para el bienestar
      físico y mental, y mi objetivo es compartir sus beneficios contigo.
    </p>

    <p class="pt-8 leading-8">
      A lo largo de mi carrera, he tenido el privilegio de guiar a muchas
      personas en su búsqueda de una vida más equilibrada y consciente. Cada
      clase es una oportunidad para cultivar la fuerza, la flexibilidad y la paz
      interior. Mi deseo es inspirarte a descubrir tu propio potencial y a
      encontrar la serenidad dentro de ti.
    </p>

    <p class="pt-8 leading-8">
      ¡Espero verte en una de mis clases! Juntos, crearemos un espacio de
      crecimiento, relajación y autodescubrimiento. Si deseas unirte a mí en
      este viaje, no dudes en ponerse en contacto para obtener más información
      sobre mis clases y horarios.
    </p>

    <!-- <p class="pt-8 leading-8">
      Me gustaría compartir contigo mi experiencia y práctica del Hatha Yoga y
      ayudarte a instrumentalizar los eventos y situaciones de la vida cotidiana
      para profundizar tu crecimiento interior y conquistar una actitud mental
      de lucidez, firmeza de mente y atención consciente.
    </p> -->
    <p class="pt-8 leading-8">El yoga es una actitud de vida</p>
    <div class="py-8 leading-8">
      <a
        class="p-2 bg-primary text-white rounded mx-auto block w-fit"
        href="/hathayogaloberia/nuestras-clases/"
        >Descubre mis clases</a
      >
    </div>
  </header>
</Layout>
