---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Hatha Yoga Lobería | Sobre mi"
  slug="acerca-de-mi"
>
  <header class="relative overflow-hidden px-4 lg:px-16">
    <h1 class="text-4xl text-center text-primary font-semibold mt-8">
      Sobre mi
    </h1>

    <p class="pt-8">
      El yoga es una práctica que involucra la unión del cuerpo, la mente y el
      espíritu a través de la realización de posturas, ejercicios de respiración
      y meditación. Las clases de yoga pueden variar en estilo y enfoque,
      podemos dividir nuestras clases en las siguientes etapas:
    </p>
  </header>
</Layout>
