---
import Hero from '../components/Hero/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Subscription from '../components/Subscription/Subscription.astro';
import Section1 from '../components/Home/Section1/Section1.astro';
---

<Layout
  title=":pray: Hatha Yoga Lobería | Yoga y Shiatsu. Clases on-line y presenciales"
  description="El equilibrio está en tu interior. Hatha Yoga Lobería es un espacio para comenzar, desarrollar y/o fortalecer la práctica del yoga."
>
  <Hero />
  <main>
    <Section1 />

    <Subscription />
  </main>
</Layout>
