---

---

<div></div>
<p>
  Nuestra sala de yoga, es un espacio ideal para encontrar la paz y la armonía.
</p>
<p>
  Clases y talleres de yoga para principiantes y para practicantes más
  experimentados. Clases en directo a través de Zoom (consulta los días y
  horarios)
</p>
