---
interface Props {
  image: string;
  chakra: string;
}

const { image, chakra } = Astro.props;
---

<div
  class="group/item w-[250px] flex flex-col justify-center items-center h-full"
>
  <div class="min-h-[81px] flex justify-center items-center">
    <img
      width="70"
      height="70"
      src={image}
      alt=""
    />
  </div>
  <p
    class="transition-opacity duration-500 opacity-0 group-hover/item:opacity-70 cursor-default h-full"
  >
    <span>
      {chakra}
    </span>
  </p>
</div>
